@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}


.body-login{
    display: flex;
}

.Lado-esquerdo-layout-login{
    box-sizing: border-box;

    height: 100vh;
    width: 30vw;
    min-width: 400px;

    padding: 120px 30px;

    background-image: url('../../assets/telalogin.png');
}

.Lado-esquerdo-layout-login p{
    font-family: 'Montserrat', sans-serif;

    font-weight: 600;
    font-size: 24px;
    line-height: 130%;

    display: flex;
    align-items: center;
    text-align: center;

    color: #034A2A;
}

.Lado-direito-layout-login{
    height: 90vh;
    width: 70vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.Lado-direito-layout-login form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-login{
    font-family: 'Montserrat', sans-serif;  

    font-weight: bold;
    font-size: 24px;
    line-height: 130%;

    color: #343447;

    margin-bottom: 40px;
}

.Lado-direito-layout-login label{
    display: block;

    font-family: 'Nunito', sans-serif;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #344054;

    margin-bottom: 5px;
}

.Lado-direito-layout-login input{
    width: 350px;

    background: #FFFFFF;

    border: 1px solid #D0D5DD;
    box-sizing: border-box;

    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    padding: 10px;
    margin-bottom: 20px;
}

.container-esqueceu-senha{
    display: flex;

    justify-content: space-between;
}

.links-login{
    all: unset;
    font-family: 'Nunito';

    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    
    text-decoration-line: underline;
    
    color: #DA0175;
    cursor: pointer;
}

.form-button{
    all: unset;

    padding: 4px 40px;

    font-family: 'Nunito', sans-serif;

    font-size: 18px;
    line-height: 25px;

    color: #F8F8F9;
    background: #DA0175;
    border-radius: 10px;

    margin: 20px 0 10px 0;

    cursor: pointer;
}

.txt-link{
    font-family: 'Nunito', sans-serif;

    font-size: 14px;
    line-height: 130%;

    color: #3F3F55;
}

.container-input-senha-login{
    position: relative;
}

.icon-senha-login{
    position: absolute;
    top: 6px;
    right: 5px;
}

.erro-login{
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #e70000;
}