@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;600&display=swap');

.backdrop-modalAddCliente{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 8vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(145, 154, 150, 0.3);
    backdrop-filter: blur(4px);
}

.container-modalAddCliente{
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 30px;

    width: 35vw;
    min-width: 550px;
    min-height: 650px;

    padding: 40px 55px;
}

.titulo-modaladdcliente{
    display: flex;
    align-items: center;
    position: relative;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;

    color: #3F3F55;

    margin-bottom: 15px;
}

.btn-fechar-modalAddCliente{
    position: absolute;
    top: -20px;
    right: -50px;

    height: 20px;
    width: 20px;

    cursor: pointer;
}

.titulo-modaladdcliente img{
    height: 30px;

    margin-right: 25px;
}

.container-modalAddCliente input{
    all: unset;
}

.label-modalAddCliente{
    display: flex;
    flex-direction: column;

    gap: 3px;
    margin-bottom: 10px;
}

.label-modalAddCliente:not(.label-dif-menor) input{
    min-width: 200px;
}

.dividir-label{
    display: flex;
    justify-content: space-between;
}

.label-dif-maior{
    width: 300px;
    margin-right: 40px;
}

.label-dif-menor{
    width: 120px;
}

.label-modalAddCliente label{
    font-family: 'Nunito', sans-serif;;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;


    color: #3F3F55;
}

.label-modalAddCliente input{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    line-height: 18px;
    
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    padding: 5px 10px;
}

.btn-cancelar-modalAddCliente{
    all: unset;

    box-sizing: border-box;
    width: 45%;

    color: #0E8750;
    background: #F8F8F9;
    border: 1px solid #DEDEE9;
    border-radius: 10px;

    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 25px;

    margin-right: 10%;
    padding: 4px 0;

    cursor: pointer;
}

.btn-aplicar-modalAddCliente{
    all: unset;
    box-sizing: border-box;
    width: 45%;

    color: #F8F8F9;
    background: #DA0175;
    border-radius: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 25px;
    
    margin-top: 50px;
    padding: 4px 0;
    
    cursor: pointer;
}

.erro-form{
    font-family: 'Nunito';

    font-size: 10px;
    line-height: 16px;

    color: #E70000;
}