@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;600&display=swap");

.card-clientes-home {
  width: 560px;

  background-color: #fff;

  border-radius: 30px;
  margin-bottom: 30px;

  box-sizing: border-box;

  box-shadow: 0px 4px 4px rgba(172, 217, 197, 0.25);
}
.topo-tabela-clientes {
  height: 60px;

  width: 100%;

  border-bottom: 1px solid #ccc;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;

  display: flex;
  align-items: center;

  color: #3f3f55;

  padding: 10px 30px;
}
.clientes-home-direito {
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;

  border-radius: 8px;

  padding: 0px 10px;
}
.clientes-home-esquerdo {
  display: flex;
  align-items: center;
}
.cabecalho-tabela-clientes-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  box-sizing: border-box;

  padding: 0px 25px;

  border-bottom: 1px solid #ccc;

  width: 100%;
  height: 65px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;

  color: #3f3f55;
}
.linha-tabela-clientes-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

  box-sizing: border-box;

  padding: 0px 25px;

  border-bottom: 1px solid #ccc;

  width: 100%;
  height: 65px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;

  color: #3f3f55;
}
.linha-tabela-clientes-home p,
.cabecalho-tabela-clientes-home p {
  width: 33%;
  max-width: 33%;

  display: flex;
  justify-content: center;
  align-items: center;

  white-space: nowrap;

  overflow: hidden;
  text-overflow: ellipsis;
}
.linha-tabela p.nome-cliente {
  justify-content: left;
}

.final-tabela-clientes-home {
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Nunito";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}
.final-tabela-clientes-home p {
  text-decoration: underline;
  color: #da0175;
  cursor: pointer;
}
