@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;600&display=swap");

.header {
  box-sizing: border-box;
  width: 85vw;
  position: absolute;
  right: 5vw;

  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid #acd9c5;

  padding: 40px 80px 24px 100px;
}

.cliente-header {
  align-self: flex-end;
  color: #0e8750;

  margin-bottom: -20px;
}

.home-header {
  align-self: center;
  font-family: "Montserrat", sans-serif;

  font-weight: 600;
  font-size: 26px;
  line-height: 130%;

  color: #343447;
}

.nav-titulo{
  cursor: pointer;
}

.cliente-detalhado{
  color: #747488;

  margin-left: 20px;
}

.cliente-detalhado span{
  margin-right: 20px;
}

.user-header {
  display: flex;
  align-items: center;
  gap: 15px;

  top: 40px;
}

.user-image {
  width: 50px;
  height: 50px;

  background-color: #dedee9;
  color: #0e8750;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-seta-header {
  cursor: pointer;
}

.user-nome {
  color: #0e8750;
}

.modal-none {
  display: none;
}

.modal-opcoes-perfil {
  position: absolute;
  bottom: -15px;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 65px;
  height: 35px;

  padding: 8px 15px;
  border-radius: 8px;
  background-color: white;
  text-align: center;

  z-index: 10;
}

.modal-opcoes-perfil div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;
}

.icon-modal-opcoes {
  width: 18px;

  margin-bottom: 5px;
}

.modal-opcoes-perfil p {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 12px;

  color: #747488;
}
