@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Nunito:wght@400;600&display=swap');

.backdrop-modalAddCobranca{
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 8vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(145, 154, 150, 0.3);
    backdrop-filter: blur(4px);
}

.container-modalAddCobranca{
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 30px;

    width: 35vw;
    min-width: 30%;
    min-height: 80%;

    padding: 40px 55px;
}

.titulo-modaladdCobranca{
    display: flex;
    align-items: center;
    position: relative;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 130%;

    color: #3F3F55;

    margin-bottom: 16px;
}

.btn-fechar-modalAddCobranca{
    position: absolute;
    top: -20px;
    right: -50px;

    height: 20px;
    width: 20px;

    cursor: pointer;
}

.titulo-modaladdCobranca img{
    height: 30px;

    margin-right: 25px;
}

.label-modalAddCobranca{
    display: flex;
    flex-direction: column;

    gap: 3px;
    margin-bottom: 10px;
}

.label-descricao textarea{
    display: flex;

    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    border-radius: 8px;

    padding: 8px 10px;

    margin-top: 8px;
    margin-bottom: 16px;
}


.label-modalAddCobranca:not(.label-dif-menor) input{
    min-width: 200px;
}

.dividir-label{
    display: flex;
    justify-content: space-between;
}

.label-dif-maior{
    width: 300px;
    margin-right: 40px;
}

.label-dif-menor{
    width: 120px;
}

.label-modalAddCobranca label{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;

    color: #3F3F55;
}

.label-modalAddCobranca input{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    line-height: 18px;
    
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #D0D5DD;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;

    padding: 6px 10px;
    margin-bottom: 16px;
}

.btn-cancelar-modalAddCobranca{
    all: unset;

    box-sizing: border-box;
    width: 45%;

    color: #0E8750;
    background: #F8F8F9;
    border: 1px solid #DEDEE9;
    border-radius: 10px;

    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 25px;

    margin-right: 10%;
    padding: 4px 0;

    cursor: pointer;
}

.btn-aplicar-modalAddCobranca{
    all: unset;
    box-sizing: border-box;
    width: 45%;

    color: #F8F8F9;
    background: #DA0175;
    border-radius: 10px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 25px;
    
    margin-top: 20px;
    padding: 4px 0;
    
    cursor: pointer;
}

.erro-form{
    font-family: 'Nunito';

    font-size: 10px;
    line-height: 16px;

    color: #E70000;
}

.label-check-status {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.label-check-status input {
  padding: 12px 16px;
  background-color: #F0F0F5;
  border-radius: 10px;;
  margin-bottom: 8px;
}

.statusCobranca {
    display: flex;
    align-items: flex-start;

    background-color: #F0F0F5;
    border-radius: 10px;

    padding: 12px;

    gap:8px;
    margin-top: 8px;
}

.buttons-cobranca {
    margin-top: 50px;
}